.banner {
    background-color: beige;
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;
}

#logo{
    height: 100px;
    width: 200px;
}

#firsttitle {
    color: red;
    font-size: 100px;
}

.bold {
    font-weight: 900;
}